/*
body {
    background-color: rgb(32, 43, 48);
}


canvas {
    height: 100vh !important;
    background: url('./assets/beautiful-shining-stars-night-sky.jpg');
    display: block;
}

.
.content {
    background-color: blueviolet;
    z-index: 100px;
}*/